h1{
    color: darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

header{
    background-color: grey;
}
main{
    color:darkmagenta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex; block-size: auto;
    display:block;
    width: 300px;
}
a{
    font-weight: bold;
    color:darkorchid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer{ font-weight: bold;
    color:darkorchid;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    font-weight: bold;
    color:darkmagenta;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
